<phpunit colors="true">
    <testsuites>
        <testsuite name="webulator">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="core">
            <file>tests/Unit/CoreTest.php</file>
        </testsuite>
        <testsuite name="components">
            <file>tests/Unit/RequestTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
</phpunit>