<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %} Webulator {% endblock %}</title>
        <link rel="stylesheet" href="{{ asset("app.css") }}">
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="row">
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
    </div>
</div>
<script src="{{ asset("app.js") }}"></script>
</body>
</html>